#{

/*  */

}

body {}

.container {
    position: relative;
    display: flex;
    margin: 0 auto;
}

.wrapper {}

.header {
    /* position: relative; */
    background-color: #4b73b5;
    /* display: flex; */
    width: 1100px;
    height: 77px;
}

.header-logo {
    position: absolute;
    top: 21px;
    left: 21px;
}

.header-contacts {
    position: absolute;
    top: 20px;
    right: 21px;
}

a {
    text-decoration: none;
}

.contacts__phone {
    /* position: absolute; */
    /* Style for "8 (800) 00" */
    /* width: 173px; */
    /* height: 22px; */
    color: #ffffff;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 700;
    /* line-height: 54px; */
    /* text-transform: upperscase; */
}

.contacts__schedule {
    /* Style for "График раб" */
    /* width: 103px; */
    /* height: 14px; */
    position: absolute;
    opacity: 0.7;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    /* line-height: 54px; */
    text-decoration: underline;
    right: 0px;
}

.main {
    display: flex;
}

.sidebar {}

.footer {
    display: flex;
    background-color: #4b73b5;
}

.footer-copiright {
    /* display: inline-block; */
    /* width: 20%; */
}

.footer-logo {
    /* display: flex; */
}

.footer-social {
    display: flex;
}

.header-logo {
    display: inline-block;
}

.contacts {
    /* display: inline-block; */
    /* position: absolute; */
    /* right: 0; */
    border: 1px solid red;
    margin-left: auto;
}

/* 
.contacts a{
    display: block;
} */

.contacts__phone {
    display: block;
}

.menu {
    /* display: flex; */
}

.tariff {
    display: inline-block;
}

.news {
    display: flex;
}

.contacts__schedule {
    display: block;
}

.pagination {
    display: flex;
    margin: center;
}

.pagination-menu {
    display: inline;
}

.pagination-menu a {
    display: inline;
}

.pagination-menu ul {
    display: inline;
}

.pagination-menu li {
    display: inline;
}

ul.pagination-pages {
    display: inline;
}

.footer-copyright {
    display: inline-block;
    width: 20%;
}

.footer-logo {
    display: flex;
    margin: auto;
}

ul.footer-social-list li {
    display: inline;
}

.footer-social {
    display: flex;
    margin-left: auto;
    right: 0;
}

.footer-social__text {
    display: block;
}

.footer-social-list {
    display: block;
}