#{
/*  */
}

body{

}
.wrapper{

}

.header{
    /* position: relative; */
    background-color: #4b73b5;
}

.main{

}

.sidebar{

}

.footer{
    background-color: #4b73b5;
}

.header-logo{
    display: inline-block;
    
}

.contacts{
    display: inline-block;
    position: absolute;
    right: 0;
    border: 1px solid red;
}

.contacts a{
    display: block;
}